name: build Frontend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.1

      - name: Install Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: '24'

      - name: Build Medical Bill React app
        run: |
          npm ci
          npm run build

    
